# config stuff
.vscode

node_modules

# build
dist
lerna-debug.log
npm-debug.log
packages/*/lib
.rpt2_cache
.eslintcache

# use yarn, not npm
package-lock.json
*.log

.yalc
yalc.lock

coverage

test-store
test-frontend
/.gtm/
tsconfig.tsbuildinfo

.yarn
.yarnrc
